bower_components
node_modules
public_html/css
public_html/fonts
public_html/images
public_html/js
vendor

app/storage/logs/*
app/storage/orm/cache/*
app/storage/orm/proxies/*
app/storage/translations/*
app/storage/views/*
composer.lock
.env
.php_cs.cache

!.gitignore
!.htaccess
