{% extends 'layouts/email.html.twig' %}

{% block content %}
    <h1>{{ 'forgot_password_heading'|trans({}, 'emails') }}</h1>
    <p>{{ 'forgot_password_message'|trans({'%link%': link}, 'emails')|raw }}</p>
    <p><a href="{{ link }}">{{ link }}</a></p>
{% endblock %}
