{% extends 'layouts/account.html.twig' %}

{% set title = 'forgot_password'|trans %}

{% block content %}
    <div class="alert alert-info">
        {{ 'forgot_password_confirmation'|trans({'%email%': email}, 'flash')|raw }}
    </div>
{% endblock %}
