@import "../../../bower_components/bootstrap/less/bootstrap";
@import "../../../bower_components/eonasdan-bootstrap-datetimepicker/src/less/_bootstrap-datetimepicker";
@import "../../../bower_components/select2-bootstrap-theme/src/select2-bootstrap";

@import "imports/variables";
@import "imports/common";

.navbar:first-child { z-index: @zindex-navbar + 1 }

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
  width: 1px;
}
