{% extends 'layouts/portal.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
                <section class="section-account">
                    <img class="img-responsive margin-bottom-16" src="{{ asset('images/logo.png') }}">
                    {% include 'partials/flash_messages.html.twig' %}
                    {% block content %}{% endblock %}
                    <p><a href="{{ path('home') }}">&laquo; {{ 'back_to_home'|trans }}</a></p>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
